<settings>
    <servers>
        <server>
            <id>central</id>
            <username>admin</username>
            <password>Al12341234</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>admin</username>
            <password>Al12341234</password>
        </server>
    </servers>
</settings>
